.CreditSuccess{
    width:100%;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CreditSuccessBody{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100vw;
    white-space: nowrap;
    min-height:75vh;
}

#logo_skrr_black {
    width: 3vw;
    height: 3vw;
    margin-top: 6.8rem;
}

#CreditSuccessTitle{
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0.8rem;
}

.CreditSuccessDiv {
    margin-top: 2.5vw;
}

#CreditSuccessSubTitle1,
#CreditSuccessSubTitle2{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: #EBEDF8;
}

#CreditSuccess_Home {
    min-width: 10vw;
    min-height: 3.2vw;
    border: none;
    border-radius: 0.4vw;
    background: #D2F75A;
    font-weight: 700;
    font-size: 2rem;
    color: #0F1510;
    margin-top: 4vw;
    margin-bottom:10vw;
}

#CreditSuccess_Home>a {
    color:#0F1510;
}

#CreditSuccessFooter2{
    position: fixed;
    bottom: 0;
}
