/* body{
    width:100vw;
    height:100vh;
    background-color:#0F1015;
    overflow-x:hidden;
    font-family: Pretendard;
} */

/* .home>#homeNav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:5.4vw;
    white-space: nowrap;
}

#logo_small {
    width: 13vw;
    height: 1.7vw;
    margin-left: 1.6vw;
    cursor: pointer;
}

.home>#homeNav>.buttonContainer{
    margin-right:2.4vw;
}

#button-product{
    width:6.75vw;
    height:2.2vw;
    background-color:#0F1015;
    border:none;
    color:#EBEDF8;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 0.8vw;
    letter-spacing: 0.1vw;
    cursor:pointer;
}

#button-login{
    width:5.8vw;
    height:2.2vw;
    margin-left:1.2vw;
    background-color:#8270FF;
    border:none;
    color:#0F1015;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 0.8vw;
    cursor:pointer;
}

#button-login>a {
    text-decoration: none;
    color: #0F1015;
} */
.home{
    width:100%;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeBody{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100vw;
}

.homeTitle{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    margin:0;
    margin-top:6.65vw;
}

#homeTitleP{
    width:100%;
    margin:0;
    font-size: 2.8rem;
    font-weight: 500;
    white-space: nowrap;
    color:#FFFFFF;
}

.home>.homeBody>.homeTitle>img{
    width:56.8rem;
    margin-top:2rem;
}

.home>.homeBody>.homeBanner{
    margin:0;
    width:100vw;
    height:22.2vw;
    margin-top:8.25vw;
    color:#FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home>.homeBody>.homeBanner>img{
    width:100%;
    height:22.2vw;
}

.home>.homeBody>.homeBanner>.pContainer{
    margin:0;
    margin-top:-15vw;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.p2Container{
    height:7.2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#p1, 
#p2{
    width:100%;
    font-weight: 400;
    font-size: 2rem;
    margin-top:0.5rem;
}

#p3{
    font-weight: 500;
    font-size: 2.8rem;
    margin-top:1vw;
}

.homeMenuBox{
    height:4.5vw;
    margin-top:8.7vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#icon1{
    width:3vw;
    height:3vw;
}


.home>.homeBody>.explainContainer{
    display:flex;
    gap:1vw;
    margin:0;
    margin-top:2.3vw;
    justify-content: center;
}

.home>.homeBody>.explainContainer>.explainBox1,
.home>.homeBody>.explainContainer>.explainBox2{
    width: 29vw;
    height:auto;
    border-radius: 0.8vw;
    background-color: #191B24;
    border: none;
    display:flex;
    flex-direction: column;
}

.home>.homeBody>.explainContainer>.explainBox1>.imgContainer,
.home>.homeBody>.explainContainer>.explainBox2>.imgContainer{
    display:flex;
    justify-content: space-between;
    padding-top:2vw;
    height:8vw;
}

#school,
#students{
    width:7.4vw;
    height:5.5vw;
    margin-left:2vw;
}

#icon_number1,
#icon_number2{
    width:2.2vw;
    height:2.2vw;
    margin-right:2vw;
}

.home>.homeBody>.explainContainer>.explainBox1>.pContainer2,
.home>.homeBody>.explainContainer>.explainBox2>.pContainer2{
    text-align: left;
    margin-bottom:2vw;
    margin-left:2vw;
    margin-right:2vw;
}

#p4 {
    margin-top:2vw;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

#p5{
    margin-top:1vw;
    font-size: 1.5rem;
    font-weight: 400;
    color:#7F85A3;
    line-height:2.55rem;
}

.advantagesBanner{
    margin-top:6.55vw;
    width:100%;
    background-color:#8270FF;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    padding-bottom:2vw;
}

.homeMenuBox2{
    margin:0;
    height:4.5vw;
    margin-top:2vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}

#icon2{
    width:3vw;
    height:3vw;
}

#p6{
    height:1vw;
    margin-top:0.5vw;
    font-weight:700;
    font-size:1vw;
    line-height:1vw;
    color:#FFFFFF;
}

.advantagesContainer{
    display: flex;
    justify-content: center;
    gap:0.85vw;
    margin:0;
    margin-top:2.4vw;
}

@media (max-width:960px) {
    .advantagesContainer {
        display: flex;
        justify-content: center;
        gap: 0.85vw;
        margin: 0;
        margin-top: 2.4vw;
        flex-direction: column;
    }
}

.advantagesLeft{
    display:flex;
    flex-direction: row;
    gap: 0.85vw;
}

.advantagesRight{
    display: flex;
    flex-direction: row;
    gap: 0.85vw;
}

.advantagesBox1,
.advantagesBox2,
.advantagesBox3,
.advantagesBox4{
    min-width:13.85vw;
    border:none;
    border-radius:0.8vw;
    background: rgba(25, 27, 36, 0.2);
    text-align:left;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#p7{
    width:13.85vw;
    text-align: left;
    padding-left: 1.2vw;
    margin:0;
    margin-top: 1.5vw;
    font-weight:700;
    font-size:2.4rem;
}

#p8{   
    width:13.85vw;
    padding-left: 1.2vw;
    padding-right:1.2vw;
    margin:0;
    margin-top:0.8vw;
    font-weight:400;
    font-size:1.5rem;
    color:#EBEDF8;
    line-height:2.55rem;
}

@media (max-width:960px) {
    .advantagesBox1,
    .advantagesBox2,
    .advantagesBox3,
    .advantagesBox4,
    #p8,
    #p7 {
        min-width: 30vw;
    }
}

#imageBox1,
#imageBox2,
#imageBox3,
#imageBox4 {
    width: 11.1vw;
    height: 11.1vw;
    margin-top: 3vw;
}

.functionContainer{
    width:56vw;
    padding-left:2vw;
    margin-top:6.75vw;
}

.functionBox1,
.functionBox2{
    display:flex;
    align-items: center;
}

.functionBox2{
    margin-top:6.85vw;
}

#imageBox5,
#imageBox6{
    width:7vw;
    height:7vw;
}

.pContainer3,
.pContainer4{
    padding-left:2.6vw;
    text-align: left;
}

#p9{
    font-weight:700;
    font-size:2.4rem;
    color:#FFFFFF;
}

#p10{
    font-weight:400;
    font-size:1.6rem;
    color:#FFFFFF;
    margin-top:0.7vw;
    line-height:2.72rem;
}

#viewButton{
    min-width:9.45vw;
    min-height:3vw;
    border-radius:0.2vw;
    background-color:#D2F75A;
    font-weight:700;
    font-size:1vw;
    line-height:1vw;
    color:#0F1015;
    margin-top:7vw;
    margin-bottom:8.25vw;
    cursor:pointer;
}

#viewButton>a{
    color:#0F1015;
}

#pHome{
    font-weight: 700;
    font-size:2rem;
    margin:0;
    margin-top:1vw;
}